@using cnf.esb.web.Models
@model IEnumerable<InstanceViewModel>

@{
    ViewData["Title"]="实例";
}

<h3>API服务调用实例清单</h3>
<form asp-action="Index" method="GET" class="form-inline py-2">
    <div class="form-grou mr-2">
        <select name="consumer" class="form-control form-control-sm">
            <!option value=""
                @if(ViewBag.SelectedConsumer == null || ViewBag.SelectedConsumer <= 0)
                {
                    @:selected
                }
            >-=选择客户程序=-</!option>
        @foreach (var item in ViewBag.Consumers)
        {
            var consumerId = item.Key;
            var consumerName = item.Value;
            <!option value="@consumerId"
                @if(ViewBag.SelectedConsumer != null && consumerId==ViewBag.SelectedConsumer)
                {
                    @:selected
                }
            >@consumerName</!option>
        }
        </select>
    </div>
    <div class="form-grou mr-2">
        <select name="group" class="form-control form-control-sm">
            <!option value=""
                @if(string.IsNullOrWhiteSpace(ViewBag.SelectedGroup))
                {
                    @:selected
                }
            >-=选择分组=-</!option>
        @foreach (string item in ViewBag.Groups)
        {
            <!option value="@item"
                @if(item.Equals(ViewBag.SelectedGroup, StringComparison.OrdinalIgnoreCase))
                {
                    @:selected
                }
            >@item</!option>
        }
        </select>
    </div>
    <div class="form-group mr-2">
        <input type="text" name="name" class="form-control form-control-sm" 
            value="@ViewBag.Name" placeholder="实例名称模糊检索">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-sm btn-success" value="筛选">
    </div>
</form>

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m=>m.InstanceID)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.InstanceName)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.ActiveStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(m=>item.InstanceID)
        </td>
        <td>
            @Html.DisplayFor(m=>item.InstanceName)
        </td>
        <td>
            @Html.DisplayFor(m=>item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(m=>item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(m=>item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(m=>item.ActiveStatus)
        </td>
        <td>
            <a asp-action="EditInstance" asp-route-id="@item.InstanceID">修改</a>|
            <a asp-action="Show" asp-route-id="@item.InstanceID">查看</a>
        </td>
    </tr>
}
    </tbody>
</table>