@using Newtonsoft.Json
@model IEnumerable<cnf.esb.web.Models.EsbService>

@{
    ViewData["Title"]="服务";
}

<h1>已注册的服务</h1>
<hr>
<p>
    <a asp-action="CreateService">注册新服务</a>
</p>
<form asp-action="Index" method="GET" class="form-inline py-2">
    <div class="form-grou mr-2">
        <select name="groupName" class="form-control form-control-sm">
            <!option value=""
                @if(string.IsNullOrWhiteSpace(ViewBag.SelectedGroup))
                {
                    @:selected
                }
            >-=选择分组=-</!option>
        @foreach (string item in ViewBag.Groups)
        {
            <!option value="@item"
                @if(item.Equals(ViewBag.SelectedGroup, StringComparison.OrdinalIgnoreCase))
                {
                    @:selected
                }
            >@item</!option>
        }
        </select>
    </div>
    <div class="form-group mr-2">
        <input type="text" name="name" class="form-control form-control-sm" 
            value="@ViewBag.Name" placeholder="服务名称模糊检索">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-sm btn-success" value="筛选">
    </div>
</form>

<table class="table table-sm">
    <thead class="bg-secondary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(m=>m.ID)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.Type)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.ActiveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.ServiceDescriptor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(m=>item.ID)
        </td>
        <td>
            @Html.DisplayFor(m=>item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(m=>item.Name)
        </td>
        <td>
            @Html.DisplayFor(m=>item.Type)
        </td>
        <td>
            @Html.DisplayFor(m=>item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(m=>item.ActiveStatus)
        </td>
        <td>
            @{
                if(item.Type == ServiceType.SimpleRESTful)
                {
                    SimpleRestfulDescriptorViewModel descriptor;
                    if(string.IsNullOrWhiteSpace(item.ServiceDescriptor))
                    {
                        descriptor = null;
                    }
                    else
                    {
                        descriptor = JsonConvert.DeserializeObject<SimpleRestfulDescriptorViewModel>(item.ServiceDescriptor);
                    }
                    @Html.DisplayFor(m=>descriptor, "SimpleRestfulDescriptorInline", "", null)
                }
                else if(item.Type == ServiceType.NCWebService)
                {
                    NCDescriptorViewModel descriptor;
                    if(string.IsNullOrWhiteSpace(item.ServiceDescriptor))
                    {
                        descriptor = null;
                    }
                    else
                    {
                        descriptor = JsonConvert.DeserializeObject<NCDescriptorViewModel>(item.ServiceDescriptor);
                    }
                    @Html.DisplayFor(m=>descriptor, "NCDescriptorInline", "", null)
                }
                else if(item.Type == ServiceType.PrimetonService)
                {
                    PrimetonDescriptorViewModel descriptor;
                    if(string.IsNullOrWhiteSpace(item.ServiceDescriptor))
                    {
                        descriptor = null;
                    }
                    else
                    {
                        descriptor = JsonConvert.DeserializeObject<PrimetonDescriptorViewModel>(item.ServiceDescriptor);
                    }
                    @Html.DisplayFor(m=>descriptor, "PrimetonDescriptorInline", "", null);
                }
                else
                {
                    @: NOT IMP. YET
                }
            }
        </td>
        <td>
            <a asp-action="EditService" asp-route-id="@item.ID">编辑</a>|
            <a asp-action="ConfigureService" asp-route-id="@item.ID">配置</a>|
            <a asp-action="CreateForService" asp-controller="Instance" asp-route-serviceId="@item.ID">建实例</a>|
            <a asp-action="IndexOfService" asp-controller="Instance" asp-route-serviceId="@item.ID">列实例</a>
        </td>
    </tr>
}
    </tbody>
</table>