@{
    ViewData["Title"] = "API";
}

<div class="page-header">
    <h5>中核五公司ESB调用说明</h5>
    <p class="text-muted small">
        如果API已经作为调用实例在ESB上注册，并且调用API的客户程序也已经在ESB上注册，
        那么请遵照本文档的说明来调用API。
    </p>
</div>
@if(!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
else
{
<p class="lead">
    必须以HTTP POST方法向服务器发送数据。
</p>
<p class="lead">
请求方法：<span class="badge badge-info">HTTP POST</span>
请求路径：<span class="text-primary">@ViewBag.Url</span>
请求头： content-type: application/json; accept-charset:utf-8 
</p>
<div class="card">
    <div class="card-header p-2">请求体：(JSON)</div>
    <div class="card-body p-2">
<pre><code>
{
    "id" : n,                       //ESB分配给客户的ID，整数
    "token" : "......",             //ESB分配给客户的令牌，随机字符串
    "body" : <span class="=badge badge-success">通过ESB向服务方发送的数据</span>  //其格式内容应该如下面的例子所示
}
请求体中的body格式示例（注意严格遵循引号的使用）：
<span class="=badge badge-success">通过ESB向服务方发送的数据</span>
@ViewBag.BodyExample
</code></pre>
    </div>
</div>
<div class="card mt-2">
    <div class="card-header p-2">返回值：（JSON）</div>
    <div class="card-body p-2">
<pre><code>
{
    returnCode : 0,             //0:正确返回，其它表示有错误
    errorMessage : "......"     //如果有错误，显示错误消息
    response : <span class="badge badge-warning">来自服务方的原始响应</span>
}
<span class="badge badge-warning">来自服务方的原始响应</span>
@ViewBag.ReturnType
@ViewBag.ReturnExample
</code></pre>
    </div>
</div>
}